*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background: white;
}

footer{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background: blue;
   height: auto;
   width: 100vw;
   font-family: Courier New;
   padding-top: 50px;
   color: white; 
}

.footer-content{
   display: flex;
   align-items: center;
   flex-direction: column;
   
}

.footer-content p{
    text-align: center;
    max-width: 1200px;
    margin: 7px auto;
    line-height: 25px;
    font-size: 16px;
}

.footer-bottom{
   background: blue;
   width: 100vw;
   padding: 12px;
   text-align: center;
}

.footer-bottom p{
   font-size: 15px;
   word-spacing: 2px;
   text-transform: capitalize;
}

.footer-bottom span{
   text-transform: uppercase;
   opacity: 0.5;
   font-weight: 550;
}